<!DOCTYPE html>
<html>
	<head>

		<title>{%block title %}{% endblock%}</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<style type="text/css">
A:link {text-decoration:none;color:#3BA3D0}
A:visited {text-decoration:none;color:#225E79}
A:hover {text-decoration:none;color:#024A68}
</style>
		{%block head %}{% endblock%}
		{%block external %}{%endblock%}
	</head>
	<body>

		{%block content%}{%endblock%}
		<br>
		<div id="nav" align=right >
			<hr>
			<font size=5><font color=#ff0000>
				{% if user.is_authenticated %}
				{{ user.username }} is Logged On </font>&nbsp;|&nbsp;
				<a href="/logout"><font color=#ff0000><b>로그아웃</b></font></a>&nbsp;|&nbsp;
			{% else %}
				<a href="/login/"><font color=#ff0000><b>로그인</b></font></a>&nbsp;|&nbsp;
				<a href="/register/"><font color=#ff0000><b>가입</b></font></a>&nbsp;|&nbsp;
			{%endif%}
			</font>
			<font size=5><a href="/"><font color=#ff0000><b>Go to Home</b></font></a>&nbsp;&nbsp;</font>
		</div>	
	</body>
</html>
